body {
    margin: 0;
    padding: 0;
    background: #FFE9BF;
}

button,
p {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 35px;
    font-size: 1.2em;
}

button {
    margin-top: 100px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 5px 2px #EFAFA6;   
    background: #E26D5C;
}

p {
    margin-top: 50px;
}

button:hover {
    background: #E78779;
}

button:active {    
    transform: translateY(4px);
    box-shadow: none
}